.مرحبا عزيزي مستخدم منصة الحكيم للاستشارات الطبية المجانية

,شكرا لك على تواصلك معنا

لو أردت إعلامنا بمشكلة معينة واجهتك خلال استخدام المنصة، فقد بلغتنا رسالتك، سنقوم بحل هذه المشكلة بأسرع وقت ممكن، وذلك لحرصنا على راحتك و لضمان تجربة فريدة لك على منصتنا.
أما إذا كان هدف تواصلك معنا هو الحصول على استشارة طبية مجانية، فلطفاً املئ الاستمارة الالكترونية الخاصة بمنصتنا، لضمان وصول رسالتك الى الطبيب المختص و المعني بها و القادر على تقديم المساعدة المرجوة. ذلك عن طريق الرابط التالي


<a href="{{link_ar}}">{{link_ar}}</a>

.نتمنى لك دوام الصحة والعافية

.إدارة منصة الحكيم


--------------------------------------------

Hello, dear user of the AlHakim platform for free medical consultations.

Thank you for contacting us.

If you want to inform us of a specific problem that you encountered while using the platform, we have reached your message, and we will solve this problem as soon as possible, in order to ensure your convenience and to ensure a unique experience for you on our platform.
But if the goal of your communication with us is to obtain a free medical consultation, please fill out the electronic form of our platform, to ensure that your message reaches the specialist doctor concerned with it and who is able to provide the desired assistance. This is via the following link:

<a href="{{link_en}}">{{link_en}}</a>

We wish you good health and wellness.

AlHakim Platform Management.