{% extends '_base.html' %}

{% load static %}

{% load i18n %}

{% block title %}
{% trans "شروط استخدام منصتنا" %}
{% endblock title %}

{% block content %}

<div class="container py-5">
    <h1 class="fw-bold">
        {% trans "شروط استخدام منصة الحكيم للاستشارات الطبية المجانية" %}
    </h1>
    <ol class="mt-5" style="font-size: 1.3rem;">
        <li>
            {% trans "منصة الحكيم للاستشارات الطبية المجانية هي مبادرة خيرية تهدف إلى تسهيل وتوفير النصائح والاستشارات الطبية المفيدة للمستخدمين وتعزيز التواصل بين الطبيب والمريض" %}.
        </li>
        <br>

        <li>
            {% trans "المنصة تقدم المحتوى والمعلومات بحسن نية وبناء ً على أفضل الممارسات والمعرفة المتاحة للطبيب المعالج في وقت النشر، ولكنها لا تقدم أي ضمانات صريحة أو ضمنية لاستخدام الوصفات الطبية المعطاة من الأطباء كورقة رسمية يمكن أن تستخدم في المؤسسات الحكومية" %}.
        </li>
        <br>

        <li>
            {% trans "لا تتحمل المنصة أي مسؤولية قانونية تجاه المستخدمين أو أي طرف ثالث عن أية خسائر أو أضرار مباشرة أو غير مباشرة تنجم عن استخدام أو عدم القدرة على استخدام المنصة أو المحتوى الذي تقدمه المنصة" %}.
        </li>
        <br>

        <li>
            {% trans "يجب على المستخدمين استشارة الأطباء المختصين بطريقة مباشرة بعيًدا عن المنصات  الإلكترونية المختلفة في حالة الحاجة إلى وصفة طبية مصرحة أو شهادات طبية آخرى" %}.
        </li>
        <br>

        <li>
            {% trans "قد تحتوي المنصة على روابط إلى مواقع وخدمات طرف ثالث. لا تتحمل المنصة أي مسؤولية عن محتوى تلك المواقع أو الخدمات، ويتوجب على المستخدم تحمل المخاطر الناجمة عن استخدامه لهذه الروابط" %}
        </li>
        <br>

        <li>
            {% trans "قد يتم تعديل شروط الإستخدام في أي وقت دون إشعار مسبق. يجب على المستخدمين مراجعة شروط الإستخدام بشكل دوري للتأكد من الامتثال لأحدث إصدار. إن استمرار استخدام المنصة بعد أي تغيير يعني الموافقة على التغييرات" %}
        </li>
        <br>

        <li>
            {% trans "استخدام المنصة يعتبر موافقة تلقائية على شروط الاستخدام هذه. يجب على المستخدم قراءة شروط الاستخدام بعناية قبل استخدام المنصة" %}.
        </li>
    </ol>
</div>

{% endblock %}