{% extends '_base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
{% trans "إعادة تعيين كلمة المرور" %}
{% endblock title %}

{% block content %}

<main class="container mt-4">
    <h1>
        {% trans "إعادة تعيين كلمة المرور" %}
    </h1>

    {% include '_messages.html' %}

    {% if form.errors %}
    <br>
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger" role="alert">
        <svg class="bi flex-shrink-0 mx-2" width="24" height="24" role="img" aria-label="Danger:">
            <use xlink:href="#exclamation-triangle-fill" />
        </svg>
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% endif %}

    <section class="d-flex justify-content-center">

        <form method="post" class="w-25">

            {% csrf_token %}

            {% for field in form %}
            {% if field.name == 'new_password1' %}
            <input type="text" name="{{field.name}}" class="form-control w-100" placeholder="{% trans 'كلمة المرور الجديدة' %}">
            {% else %}
            <input type="text" name="{{field.name}}" class="form-control w-100" placeholder="{% trans 'تأكيد كلمة المرور الجديدة' %}">
            {% endif %}
            <br>
            {% endfor %}

            <div class="text-center">
                <button type="submit" class="btn btn-primary mt-4 px-5 w-100">
                    <i class="fa-solid fa-save"></i>
                    {% trans 'حفظ' %}
                </button>
            </div>
        </form>

    </section>

</main>

{% endblock content %}