{% extends '_base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
{% trans "إعادة تعيين كلمة المرور" %}
{% endblock title %}

{% block content %}

<main class="container mt-5 text-center">
    <h4>
        {% trans "لقد أرسلنا لك إيميل يحتوي على رابط لإعادة تعيين كلمة مرورك, إذا كان يوجد حساب مرتبط مع الرقم الذي أدخلته." %}
    </h4>

    <br>

    <h4>
        {% trans "إذا لم يصلك إيميل, تأكد من الحساب الذي أدخلته, وتأكد من مجلد السبام." %}
    </h4>

</main>

{% endblock content %}