{% extends '_base.html' %}

{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}
{% trans "إعادة تعيين كلمة المرور" %}
{% endblock title %}

{% block extra_head %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.16/css/intlTelInput.css"
    integrity="sha512-gxWow8Mo6q6pLa1XH/CcH8JyiSDEtiwJV78E+D+QP0EVasFs8wKXq16G8CLD4CJ2SnonHr4Lm/yY2fSI2+cbmw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock extra_head %}

{% block content %}

<main class="container mt-4">
    <h1>
        {% trans "إعادة تعيين كلمة المرور" %}
    </h1>

    <p>
        {% trans "هل نسيت كلمة المرور؟ أدخل رقم هاتفك الذي سجلت به و الإيميل أدناه وسوف نقوم بإرسال تعليمات على الإيميل الخاص بك للحصول على كلمة مرور جديدة." %}
    </p>

    {% include '_messages.html' %}

    <section class="d-flex justify-content-center">

        <form method="post" class="w-100" id="reset__form">
            {% csrf_token %}

            {% for field in form %}
            <div class="my-3">
                <label for="{{field.name}}" class="form-label">{{field.label}}</label>

                {% if field.name == 'phone' %}
                <br>
                <input type="tel" name="phone" id="id_phone" autocomplete="false" class="form-control form__phone" required>
                <div class="form-text"> {% trans 'أدخل رقمك مباشرة من دون الرمز الدولي' %} </div>
                {% else %}
                {% render_field field class="form-control" placeholder=field.label %}
                {% endif %}
            </div>
            {% endfor %}

            <div class="text-center">
                <button type="submit" class="btn btn-primary mt-4 px-5 w-100">
                    <i class="fa-solid fa-paper-plane"></i>
                    {% trans 'استعد كلمة مروري' %}
                </button>
            </div>
        </form>

    </section>

</main>

{% endblock content %}

{% block extra_scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.16/js/intlTelInput.min.js"
integrity="sha512-Po9nSdYOcWIcoADdRjkAbRYPpR8OHjxzA/3RDUERZcDewTLzRTxbG4bUX7Sr7lVEcO3wTCzphdOBWgNFKVmxaA=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>

let input = document.querySelector("#id_phone");
let iti = window.intlTelInput(input, {
  utilsScript:
    "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.16/js/utils.min.js?1638200991544",
  initialCountry: "auto",
  geoIpLookup: function (callback) {
    $.get("https://ipinfo.io", function () {}, "jsonp").always(function (resp) {
      var countryCode = resp && resp.country ? resp.country : "sy";
      callback(countryCode);
    });
  },
});

$("#reset__form").submit(function (e) {
  if (iti.getNumber() == "") {
    $("#id_phone").val("empty");
  } else if (/[a-zA-Z]/.test(iti.getNumber())) {
    $("#id_phone").val("letters");
  } else if (!iti.isValidNumber()) {
    $("#id_phone").val("invalid");
  } else {
    $("#id_phone").val(iti.getNumber());
  }
});

</script>

{% endblock extra_scripts %}